body {
    margin: 0;
    overflow-x: hidden ;
    color: #fff;
    background-image: linear-gradient(45deg, #0D0D0D, #222222, #A6A6A6 );
    justify-content: center;
    font-family: "Work Sans", arial;
}

.container {
    padding-bottom: 9%;
    padding-top: 9%;
    display: flex;
    justify-content: center;
    position: relative;
    overflow: hidden;
    height: 100%;
}
.container h1 {
    color: #fff;
    font-family: "Work Sans", arial;
    font-size: 70px;
    text-align: center;
    font-weight: 900;
    z-index: 2;
}
.particules {
    background-color: rgba(0, 0, 0, 0.2);
    position: absolute;
    animation-name: particules;
    animation-duration: 4s;
    animation-iteration-count: infinite;
}
#particules1 {
    height: 250px;
    width: 250px;
    bottom: 400px;
    left: 130px;
    transform: rotate(65deg);
    border-radius: 30px;
}
#particules2 {
    height: 450px;
    width: 450px;
    bottom: 150px;
    right: 20%;
    transform: rotate(130deg);
    border-radius: 50px;
    animation-delay: 1s;
}
#particules3 {
    height: 150px;
    width: 150px;
    bottom: 120px;
    right: -20px;
    transform: rotate(255deg);
    border-radius: 20px;
    animation-delay: 2s;
}
#particules4 {
    height: 250px;
    width: 250px;
    bottom: 0px;
    left: 130px;
    transform: rotate(65deg);
    border-radius: 50px;
}
@keyframes particules {
    0%{
        margin-bottom: 0px;
    }

    50%{
        margin-bottom: 30px;
    }
    100%{
        margin-bottom: 0px;
    }
}
ol {
    list-style: none;
    width: 300px;
}
ol li {
    list-style: none;
    width: 300px;
    font-size: 1.2rem;
    font-family: "Work Sans", arial;
    background:rgb(23, 23, 23) ;
    margin: 10px 100px;
    padding: 25px 10px;
    cursor: pointer;
    position: relative;
    transition: all .4s;
    z-index: 5;
}

ol li::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 5px;
    background-color: red;
    transition: all .4s;
    z-index: -1;
}
ol li:hover::before {
    width: 100%;
}

ol li:nth-child(1)::before {
    background-color: #05e8ba;
	background-image: linear-gradient(315deg, #05e8ba 0%, #087ee1 74%);
}
ol li:nth-child(2)::before {
    background-color: #6d071a;
	background-image: linear-gradient(-315deg, #6d071a 0%, #e15b08 74%);
}
ol li:nth-child(3)::before {
    background-color: #f4b400;
	background-image: linear-gradient(-315deg, #f4b400 0%, #e8f400 74%);
}
ol li:nth-child(4)::before {
    background-color: #05ab05;
	background-image: linear-gradient(315deg, #05ab05 0%, #04875b 74%);
}

ol li:hover {
    transform: translateX(20px);
}
footer {
    background-color:rgb(23, 23, 23);
    display: flex;
    position: fixed;
    justify-content: space-between;
    align-items: center;
    left: 0;
   bottom: 0;
   width: 100%;
  }
.information li {
    display: incline-block;
    list-style: none;
}
.information li {
    display: inline-block;
    padding: 0px 20px;
  }
  .information li a{
    transition: all 0.3s ease 0s;
  }